<settings xmlns="http://maven.apache.org/SETTINGS/1.1.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd">
	<servers>
		<server>
			<id>proprietary</id>
			<username>WeAreFrank/IntegrationPartners Active Directory USERNAME</username>
			<password>WeAreFrank/IntegrationPartners Active Directory PASSWORD</password>
		</server>
		<server>
			<id>IbisSource</id>
			<username>${env.ARTIFACTORY_USER}</username>
			<password>${env.ARTIFACTORY_PASSWORD}</password>
		</server>
		<server>
			<id>nn-maven</id>
			<username>${env.ARTIFACTORY_USER}</username>
			<password>${env.ARTIFACTORY_PASSWORD}</password>
		</server>
		<server>
			<id>nn-ibissource</id>
			<username>${env.ARTIFACTORY_USER}</username>
			<password>${env.ARTIFACTORY_PASSWORD}</password>
		</server>
		<server>
			<id>libs-release</id>
			<username>${env.ARTIFACTORY_USER}</username>
			<password>${env.ARTIFACTORY_PASSWORD}</password>
		</server>
	</servers>
	<mirrors>
		<mirror>
			<id>nn-maven</id>
			<name>nn-maven</name>
			<url>https://artifactory.insim.biz/artifactory/nn-maven</url>
			<mirrorOf>external:*,!proprietary,!public,!libs-release,!nn-ibissource,!IbisSource,!aspose</mirrorOf>
		</mirror>
	</mirrors>
	<profiles>
		<profile>
			<id>ibissourceNexus</id>
			<repositories>
				<repository>
					<id>proprietary</id>
					<url>https://nexus.ibissource.org/content/repositories/private/</url>
				</repository>
				<repository>
					<id>public</id>
					<url>https://nexus.ibissource.org/content/repositories/public/</url>
				</repository>
			</repositories>
		</profile>
		<profile>
			<id>nn-artifactory</id>
			<repositories>
				<repository>
					<id>nn-maven</id>
					<url>https://artifactory.insim.biz/artifactory/nn-maven</url>
				</repository>
				<repository>
					<id>libs-release</id>
					<url>https://artifactory.insim.biz/artifactory/libs-release</url>
				</repository>
				<repository>
					<id>nn-ibissource</id>
					<url>https://artifactory.insim.biz/artifactory/nn-ibissource</url>
				</repository>
				<repository>
					<id>IbisSource</id>
					<url>https://artifactory.insim.biz/artifactory/IbisSource</url>
				</repository>
			</repositories>
		</profile>
		<profile>
			<id>miscellaneous</id>
			<repositories>
				<repository>
					<id>aspose</id>
					<url>https://artifact.aspose.com/repo/</url>
				</repository>
			</repositories>
		</profile>
	</profiles>
	<activeProfiles>
		<!-- <activeProfile>ibissourceNexus</activeProfile> -->
		<activeProfile>nn-artifactory</activeProfile>
		<!-- <activeProfile>miscellaneous</activeProfile> -->
	</activeProfiles>
</settings>