
<div class="modal-header">
        <h3 style="text-align: center;" class="modal-title" id="modal-title">Information</h3>
    </div>
    <div class="modal-body" id="modal-body">
        
        <h4>{{vm2.message}}</h4>
    
    </div>
    <div class="modal-footer">
        <div style="display:flex; width:100%;">
            <div class="filler"></div>
            <button class="btn btn-primary" type="button" ng-click="vm2.closeModal()">OKAY</button>
            <div class="filler"></div>
        </div>
    </div>

